@keyframes post {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post {
  animation: post .25s ease;
}

#footer {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 153, 255);
  height: 60px;
  padding: 3px;
}

input {
  flex: 9;
  border-radius: 6px 0 0 6px;
  border: 0px;
  outline: none;
  font-size: 18px;
  text-indent: 10px;
}

button {
  flex: 1;
  min-width: 100px;
  max-width: 200px;
  border-radius: 0 6px 6px 0;
  border: 0px;
  background-color: rgb(168, 168, 168);
  color: white;
}

button:hover {
  background-color: rgb(148, 148, 148);
  cursor: pointer;
}